<div class="intro-container">
  <div class="title-force" [class.show]="showTitle" [class.hide]="!showTitle">
    Opposing Force
  </div>

  <div class="content" [class.hidden]="showTitle">
    <div class="background-images">
      <div *ngFor="let image of images; let i = index" 
           class="background-image" 
           [class.active]="i === currentImageIndex"
           [style.background-image]="'url(assets/' + image + ')'">
      </div>
    </div>

    <div class="light-container"></div>

    <div class="particles"></div>

    <div class="overlay-details"></div> 

    <div class="text-overlay">
      <div class="text-content">
        <p [innerHTML]="displayedText"></p>
        <button *ngIf="showContinue" (click)="continuar()" class="btn-continue">Continuar</button>
      </div>
    </div>
  </div>
</div>
