<div class="campanhas-container">

  <div class="banner">
    <div class="banner-info">
      <h1>Comece a exterminar</h1>
      <p>
        Escolha abaixo alguma lenda e comece a sua luta mortal contra ela.
      </p>
    </div>
  </div>

  <div class="personagem-global-container" *ngIf="personagens.length > 0">
    <label for="personagemGlobal">Selecione seu personagem:</label>
    <select 
      id="personagemGlobal"
      class="dropdown-personagem"
      [(ngModel)]="personagemGlobalSelecionado"
      (ngModelChange)="onPersonagemChange($event)">
      <option *ngFor="let p of personagens" [ngValue]="p">
        {{ p.nome }}
      </option>
    </select>
  </div>

  <div class="campanha-secao">
    <h2 class="subtitulo-tipo">Lendas</h2>
    <div class="cards-container full-width">
  <div 
    *ngFor="let camp of campanhas"
    class="card full-card"
    [ngClass]="camp.habilitado ? 'enabled' : 'disabled'">
    
    <img [src]="camp.imagem" alt="{{camp.titulo}}" class="card-img">
    
    <div class="card-info">
      <h3>{{ camp.titulo }}</h3>
      
      <!-- Aqui adicionamos a descrição -->
      <p class="card-descricao">{{ camp.descricao }}</p>
      
      <button 
        class="btn-entrar"
        [disabled]="!camp.habilitado || !personagemGlobalSelecionado"
        (click)="entrarCampanha(camp)">
        Entrar
      </button>
    </div>
  </div>
</div>

  </div>
</div>
