<div class="intro-container">
  <!-- Fundo preto que cobre tudo durante o título -->
  <div class="black-background" [class.hidden]="!showTitle"></div>

  <div class="title-force" [class.show]="showTitle">Black Mesa</div>

  <div [class.hidden]="showTitle" class="content">
    <div class="background-images">
      <div *ngFor="let image of images; let i = index"
           class="background-image"
           [class.active]="i === currentImageIndex"
           [style.background-image]="'url(assets/bmib.png)'">
      </div>
    </div>
    <div class="light-container"></div>
    <div class="particles"></div>
    <div class="overlay-details"></div>
    <div class="text-overlay">
      <div class="text-content">
        <p [innerHTML]="displayedText"></p>
        <button *ngIf="showContinue" (click)="continuar()" class="btn-continue">Continuar</button>
      </div>
    </div>
  </div>
</div>
