<main class="main-content">
<div class="inicio-container">
  <div class="saudacao-bloco">
    <h1 class="titulo-principal">SECRET PROJECTS</h1>
    <p class="subtitulo">H.E.V MARK IV</p>
    <div class="linha-decorativa"></div>
  </div>

  <div class="informacao-usuario-container">
    <p class="informacao-usuario">SEJA BEM-VINDO(A)</p>
    <p class="data-e-hora">{{ currentDateTime }}</p>
  </div>
  
  <button class="btn-campanha">INICIAR NOVA CAMPANHA</button>
</div>
  <router-outlet></router-outlet>
</main>