<div class="login-container">
  <div class="login-card">
    <h2>Crie sua conta na escuridão</h2>
    <p>O destino aguarda apenas os corajosos...</p>

    <form (ngSubmit)="signup()">
      <div class="form-group">
        <label for="username">Usuário</label>
        <input type="text" id="username" name="username" />
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password"  />
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirme a Senha</label>
        <input type="password" id="confirmPassword" name="confirmPassword"  />
      </div>

      <button type="submit" >Registrar</button>
    </form>

    <p class="register-link">
      Já faz parte da noite? <a routerLink="/login">Entre</a>
    </p>
  </div>
</div>
