<div class="fundo-container">
  <img [src]="'assets/' + currentBackgroundImage" alt="Fundo Black Mesa" class="fundo-transicao">
</div>

<div class="overlay"></div>
<div class="glitch-overlay"></div>

<header class="menu-header">
  <nav>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="inicial">INÍCIO</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="campanhas">CAMPANHAS</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="personagens">PERSONAGENS</a>
      </li>

     <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="perfil">PERFIL</a>
      </li>
    </ul>
  </nav>
</header>

<main class="main-content-form">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</main>
