<video class="fundo-video" autoplay muted loop playsinline>
  <source src="assets/test chamber.mp4" type="video/mp4" />
  Seu navegador não suporta vídeo HTML5.
</video>

<header class="menu-header">
  <nav>
   
    <div class="menu-items">
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/login">LOGIN</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/signup">CADASTRO</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<main class="main-content-form">
  <div class="forms-container">
    <div class="cracha">
      <div class="logo-section">
        <img src="assets/terminator.jpg" alt="Logo" class="logo-cracha">
        <h1>EXTERMINADOR DE LENDAS</h1>
      </div>

      <h1>ENTRAR EM CENA</h1>

      <form (ngSubmit)="fazerLogin()">
        <div class="form-group">
          <label for="login">LOGIN</label>
          <input
            type="text"
            id="login"
            [(ngModel)]="usuario"
            name="usuario"
            placeholder="Digite um login"
            required
          />
        </div>
        <div class="form-group">
          <label for="senha">SENHA</label>
          <input
            type="password"
            id="senha"
            [(ngModel)]="senha"
            name="senha"
            placeholder="Digite sua senha"
            required
          />
        </div>
        <div class="botoes">
          <button type="submit">ENTRAR</button>
        </div>
      </form>

      <p *ngIf="erro" class="erro">{{ erro }}</p>
    </div>
  </div>
</main>


<!-- Modal de campos obrigatórios -->
<div class="modal-overlay" *ngIf="showEmptyFieldsModal">
  <div class="modal">
    <h2>Campos obrigatórios</h2>
    <p>Por favor, preencha todos os campos para continuar.</p>
    <button (click)="closeEmptyFieldsModal()">Fechar</button>
  </div>
</div>

<!-- Modal de credenciais inválidas -->
<div class="modal-overlay" *ngIf="showInvalidCredentialsModal">
  <div class="modal">
    <h2>Erro de Login</h2>
    <p>Usuário ou senha inválidos. Verifique suas credenciais.</p>
    <button (click)="closeInvalidCredentialsModal()">Fechar</button>
  </div>
</div>
