<div class="characters-page">
  <div class="characters-container">

    <section class="characters-list-section">
      <h2 class="section-title">Personagens Criados</h2>
      <ul class="characters-list">
        <li *ngFor="let character of characters" class="character-card">
        <div class="character-info">
          <div class="details">
            <strong>{{ character.nome }}</strong>
            <span>HP: {{ character.hpAtual }}</span>
            <span>Bateria HEV: {{ character.bateriaHEV }}</span>
            <span>{{ character.ultimoCapitulo || 'Nenhum capítulo iniciado' }}</span>
            <span>
              Inventário: 
              {{ character.inventario.length > 0 ? character.inventario.join(', ') : 'Nenhum item encontrado' }}
            </span>
          </div>
        </div>
        <div class="card-buttons">
          <button class="view-btn" (click)="viewCharacter(character)">Ver Detalhes</button>
          <button class="delete-btn" (click)="deleteCharacter(character)">Deletar</button>
        </div>
      </li>

      </ul>
      <p *ngIf="characters.length === 0" class="empty-msg">
        Nenhum personagem criado ainda. Comece a criar o seu!
      </p>
    </section>

    <section class="create-character-section">
      <h2 class="section-title">Criar Novo Personagem</h2>
      <form (ngSubmit)="createCharacter()">
        <div class="form-group">
          <label for="newCharName">Nome do Personagem:</label>
          <input type="text" id="newCharName" [(ngModel)]="newCharacter.nome" name="nome" placeholder="Nome Completo" required>
        </div>

        <div class="form-group">
          <label>Inventário Inicial:</label>
          <ul>
            <li *ngFor="let item of newCharacter.inventario">
              {{ item }}
            </li>
            <li *ngIf="newCharacter.inventario.length === 0">Inventário vazio</li>
          </ul>
        </div>


        <button type="submit" class="btn btn-create">Criar Personagem</button>
      </form>
    </section>

  </div>
</div>
