<div class="characters-page">
  <div class="characters-container">

    <section class="characters-list-section">
      <h2 class="section-title">Personagens Criados</h2>
      <ul class="characters-list">
        <li *ngFor="let character of characters" class="character-card">
          <div class="character-info">
            <div class="details">
              <strong>{{ character.nome }}</strong>
              <span>Classe: {{ character.role }}</span>
              <span>HP: {{ character.hpAtual }}</span>
              <span>Stamina: {{ character.stamina }}</span>
              <span>Ataque Especial: {{ character.ataqueEspecial }}</span>
            </div>
          </div>
          <div class="card-buttons">
            <button class="delete-btn" (click)="deleteCharacter(character)">Deletar</button>
          </div>
        </li>
      </ul>
      <p *ngIf="characters.length === 0" class="empty-msg">
        Nenhum personagem criado ainda. Comece a criar o seu!
      </p>
    </section>

    <section class="create-character-section">
      <h2 class="section-title">Criar Novo Personagem</h2>
      <form (ngSubmit)="createCharacter()">

      
        <div class="form-group">
          <label for="newCharName">Nome do Personagem:</label>
          <input type="text" id="newCharName" [(ngModel)]="newCharacter.nome" name="nome" placeholder="Nome Completo" required>
        </div>

        <div class="form-group">
          <label for="classeSelect">Escolha a Classe:</label>
          <select id="classeSelect" [(ngModel)]="newCharacter.role" name="role" (change)="onClasseChange(newCharacter.role ?? '')" required>
            <option value="" disabled selected>Selecione uma classe</option>
            <option *ngFor="let classe of classesDisponiveis" [value]="classe.nome">{{ classe.nome }}</option>
          </select>
        </div>

        <div *ngIf="newCharacter.role">
          <p><strong>Descrição:</strong> {{ getClasseSelecionada()?.descricao }}</p>
          <p><strong>HP Inicial:</strong> {{ newCharacter.hpAtual }}</p>
          <p><strong>Stamina:</strong> {{ newCharacter.stamina }}</p>
          <p><strong>Ataque Especial:</strong> {{ newCharacter.ataqueEspecial }}</p>
        </div>

        <button type="submit" class="btn btn-create">Criar Personagem</button>
      </form>
    </section>

  </div>
</div>

<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal-box" [ngClass]="modalType">
    <p>{{ modalMessage }}</p>
    <button class="modal-btn" (click)="closeModal()">OK</button>
  </div>
</div>

