<main class="inicial-main">
  <div class="inicial-container">
    <h1 class="titulo-principal">SECRET PROJECTS</h1>

    <div class="descricao-banner">
      <p>
        Descubra as campanhas secretas da Black Mesa. Treine seus personagens, explore laboratórios e
        prepare-se para enfrentar desafios que mudarão o curso da história.
      </p>
    </div>

    <div class="info-container">
      <p class="data-e-hora">{{ currentDateTime }}</p>
      <p class="mensagem">Escolha sua campanha e comece a aventura!</p>
    </div>

    <button routerLink="/homepage/campanhas" class="btn-start">
      VER CAMPANHAS
    </button>
  </div>

<section class="sobre-blackmesa-vertical">
  <h2 class="titulo-secundario">Sobre a Black Mesa</h2>
  <div class="descricao-vertical">
    <p>
      A Black Mesa Research Facility foi um complexo de pesquisa secreto nos EUA, onde experimentos avançados 
      em teletransporte e energia alienígena foram conduzidos. Um acidente catastrófico abriu portais 
      para outros mundos, liberando criaturas perigosas e desencadeando eventos que mudariam a história da 
      humanidade.
    </p>
    <p>
      Seus personagens terão que explorar laboratórios, enfrentar inimigos e descobrir os segredos por trás 
      de todo o desastre. Cada campanha revela uma parte da história da Black Mesa.
    </p>

    <p>
      Veja de perto como foi a sobrevivência de cada lado da história desse desastre. 
    </p>
  </div>
</section>

</main>
