<main class="inicial-main">

    <div class="background-glitch"></div> 

    <div class="inicial-container">
        <h1 class="titulo-principal">O EXTERMINADOR DE LENDAS</h1>

        <div class="descricao-banner">
            <p>
                Bem-vindo ao <strong>Brasil paralelo</strong>, onde as lendas urbanas decidiram que vão tomar conta do país! 🐉👻 
            </p>
        </div>

        <div class="info-container">
            <p class="data-e-hora">{{ currentDateTime }}</p>
            <p class="mensagem">Atenção: A loucura está ATIVA.</p>
        </div>
        
        <p class="alerta-urgente piscar">Eles estão esperando. (E estão impacientes.)</p>

        <button routerLink="/homepage/campanhas" class="btn-start">
            SELECIONAR LENDAS
        </button>

        <button (click)="logout()" class="btn-logout">
         Sair da conta
        </button>


    </div>

    <section class="sobre-jogo-vertical">
        <h2 class="titulo-secundario">SOBRE A BAGUNÇA BRASILEIRA</h2>
        
        <div class="descricao-vertical">
            
            <h3 class="subtitulo-vertical">O CAOS, GERALMENTE</h3>
            <p>
                O Brasil está uma loucura, e não é só a inflação. A população reclama de <strong>monstros que fazem festa na cidade</strong>, assombram o trânsito e causam pânico geral. Sua missão é resolver essa palhaçada sobrenatural e devolver a tranquilidade para o povo.
            </p>

            <h3 class="subtitulo-vertical">MONSTROS... MAS COM PIADA</h3>
            <p>
                Cada <strong>lenda</strong> tem suas características, extermine essas anomalias ou deixe a zoeira tomar conta da batalha. O jogo é sobre encarar esse <strong>caos sobrenatural</strong> de frente. Se você não rir, você surta.
            </p>

            <h3 class="subtitulo-vertical">A TROPA DE EXTERMINADORES</h3>
            <p>
                Aqui você cria seus <strong>Exterminadores</strong> – aqueles personagens que não têm medo de encarar o Boto Cor-de-Rosa. Planeje, ataque, sobreviva e, por favor, não deixe de tirar um sarro da cara deles.
            </p>

            <h3 class="subtitulo-vertical">LEMA DE VIDA (E MORTE)</h3>
            <p>
                O medo é real. A dor é <strong>temporária</strong>. O meme é <strong>eterno</strong>. Prepare-se para ser o herói mais estressado do folclore nacional. 💀😂
            </p>
        </div>
    </section>
</main>
